
.room-list {
  gap: 20px;
  padding: 20px 20px 20px 20px;
}

.room {
  display: inline-block;
  padding: 30px;
  width: 400px;
  margin-right: 20px;
  margin-bottom: 30px;
  box-shadow: 20px 25px 10px rgba(77, 74, 74, 0.5);
  border-radius: 10px;
  overflow: hidden;
  background-color: #86d6ee;
}

.room-area {
  /* display: inline-block; */
  padding: 30px;
  /* width: 400px; */
  margin-right: 20px;
  margin-bottom: 30px;
  box-shadow: 20px 25px 10px rgba(77, 74, 74, 0.5);
  border-radius: 10px;
  overflow: hidden;
  background-color: #86d6ee;
}

@media (max-width: 768px) {
  .room {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
} 

.btn {
  background-color: #92b5da;
  border: none;
  color: #13394b;
  padding: 10px 20px 10px;
  border-radius: 5px;
  cursor: pointer;
  outline: 1px solid rgb(27, 26, 26);
  box-shadow: 10px 15px 10px rgba(77, 74, 74, 0.5);
  margin-right: 5px;
}

  /* Трясем элемент при наведении */
  .btn:hover {
    animation: 1.0s ease-in-out 0s normal none infinite running trambling-animation;
}
@keyframes trambling-animation {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    10%, 30% {
        transform: rotate(-3deg);
    }
    20%, 40% {
        transform: rotate(3deg);
    }
}

.input {
  background-color: #d6dce0;
  border: none;
  color: #232729;
  padding: 10px 20px 10px;
  border-radius: 5px;
  cursor: pointer;
  outline: 1px solid rgb(27, 26, 26);
  box-shadow: 10px 15px 10px rgba(77, 74, 74, 0.5);
  margin-right: 5px;
  margin-top: 10px;
}

.hiden-title {
  font-size: 15px;
  font-weight: bold;
  /* margin: 10px; */
  padding: 10px 0px 10px 0px;
}

.hiden-form {
  outline: 1px solid rgb(27, 26, 26); 
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  box-shadow: 10px 15px 10px rgba(77, 74, 74, 0.5);
  margin-top: 10px;
  background-color: #7cb3ee;
}

.top-bar {
  background-color: #7cb3ee;
  color: #fff;
  padding: 10px 10px 10px 20px;
  display: flex;                    /* для расположения элементов в строку */
  justify-content: space-between;   /* Выравнивание элементов по краям */
  align-items: center;              /* Выравнивание элементов по вертикали */
  box-shadow: 10px 15px 10px rgba(77, 74, 74, 0.5);
  border-radius: 10px;
  text-align: left; 
}

.top-bar-user {
  flex-grow: 1;    /* Растягиваем элемент на всю доступную ширину */
  margin-left: 20px; 
}

.logout-btn {
  margin-right: 30px; 
}

.top-delete-form {
  margin-right: 10px; 
}

.delete-form {
  display: inline-block;
  padding: 30px;
  width: 400px;
  margin-right: 20px;
  margin-bottom: 30px;
  box-shadow: 20px 25px 10px rgba(77, 74, 74, 0.5);
  border-radius: 10px;
  overflow: hidden;
  background-color: #86d6ee;
}


.logo {
  /* flex-grow: 10;  */
  height: 40px;
  width: 40px;
  border-radius: 15px;
}




.chat-container {
  display: flex;
  flex-direction: row;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  box-shadow: 20px 25px 10px rgba(77, 74, 74, 0.5);
  border-radius: 10px;
}

.chat-members {
  width: 200px;
  border-right: 1px solid #ccc;
  padding: 10px;
}

.chat-members h3 {
  margin: 0;
  color: rgb(53, 12, 148); 
}

.member-list {
  list-style: none;
  padding: 0;
}

.member-list li {
  margin-bottom: 5px;
}

.chat-window {
  flex-grow: 1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  
}

.chat-header {
  padding: 10px;
  background-color: #f0f0f0;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-header h3 {
  margin: 0;
}

.close-btn {
  background: none;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
}

.chat-body {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.chat-footer {
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;

  }

.input-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

.input-wrapper input[type="text"] {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 3px;
  flex-direction: column;
}

.input-wrapper button {
  /* background-color: #4CAF50; */
  background-color: #7cb3ee;
  border: none;
  outline: none;
  color: #fff;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.input-wrapper button:hover {
  /* background-color: #3e8e41; */
  background-color: #142e75;
}

.chat-messages {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #c8d3ee;
  margin-top: 10px;
  /* max-width: 800px;*/
  /* word-wrap: break-word;  */
  word-break: break-all;
}

.chat-messages p {
  font-size: 15px;
}

.date {
  text-align: right; 
  font-size: 12px;
  color:rgb(143, 118, 197);
}

/* @keyframes blink {
  0% {
    background-color: rgb(4, 46, 109);
  }
  50% {
    background-color: rgb(78, 152, 221);
  }
  100% {
    background-color: rgb(6, 137, 141);
  }
} */


@keyframes blink {
  50% {
    opacity: 0.75;
  }
}
.participant {
  animation: blink 1s linear infinite;
  font-size: 15px;
  text-align: left;
  color:rgb(45, 16, 109);
}
.no-participant {
  animation: blink 1s linear infinite;
  font-size: 15px;
  text-align: left;
  color:rgb(153, 7, 92);
}