
{% extends 'default.html' %}

{% load static %}

{% block room %}
<p></p>
<div class="top-bar">
  <div class="top-bar-user">
  <h2 style="text-align: center; color: rgb(7, 24, 97);">
    Room: <em>'{{ room.name }}'</em>
  </h2>
  </div>
</div>

<p></p>

<div class="chat-container">
  <div class="chat-members">
    <h3>Participants:</h3>

    <ul class="member-list">
      <li><em>
        {% for user in users %}
        <p style="color: rgb(53, 12, 148); ">'{{ user }}'</p>
        {% endfor %}
      </em></li>
    </ul>

  </div>
  <div class="chat-window">
    <div class="chat-header">
      <h3>Chat</h3>
      <button class="close-btn">&times;</button>
    </div>
    <div class="chat-body"></div>
    <div class="chat-footer">
      <div class="input-wrapper">
        <input type="text" placeholder="Your message...">
        <button id="send-btn">Send</button>
      </div>
    </div>
  </div>
</div>

  <script type="text/javascript" src="{% static 'js/room.js' %}"></script>
{% endblock room %}


{% block avatar %}
<img class="logo" src="{{ avatar }}">
{% endblock avatar %}